<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>みんなのToDoリスト</title>
</head>
<body>
    
    <h3>現在公開中のみんなのtodoリスト</h3>
    <table border="1">
        <tr>
            <th>toDo番号</th>
            <th>タイトル</th>
            <th>作成者</th>
            <th>作成日時</th>
        </tr>
        <tr th:each="t: ${todos}">
            <td>[[${t.seq}]]</td>
            <td>[[${t.title}]]</td>
            <td>[[${t.mid}]]</td>
            <td>[[${t.createdAt}]]</td>
        </tr>
    </table>
    
    <h3>みんなのdoneリスト</h3>
    <table border="1">
        <tr>
            <th>toDo番号</th>
            <th>タイトル</th>
            <th>作成者</th>
            <th>終了日時</th>
        </tr>
        <tr th:each="t: ${dones}">
            <td>[[${t.seq}]]</td>
            <td>[[${t.title}]]</td>
            <td>[[${t.mid}]]</td>
            <td>[[${t.doneAt}]]</td>
        </tr>
    </table>
    <a th:href=@{/list/__${mid}__}>戻る</a><br /> 
</body>
</html>